@model bikeRental.Application.Models.Order.OrderModel

@{
    ViewData["Title"] = "Finish";
}

<div class="container mx-4 pt-2">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2>End your ride</h2>
            <form asp-action="Finish">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Customer.Id" />
                <input type="hidden" asp-for="Customer.UserName" />
                <input type="hidden" asp-for="Customer.Email" />
                <input type="hidden" asp-for="Customer.FirstName" />
                <input type="hidden" asp-for="Customer.LastName" />
                <input type="hidden" asp-for="Customer.Role" />
                <input type="hidden" asp-for="Bicycle.Id" />
                <input type="hidden" asp-for="Bicycle.Type" />
                <input type="hidden" asp-for="Bicycle.Description" />
                <input type="hidden" asp-for="Bicycle.IsAvailable" />
                <input type="hidden" asp-for="Bicycle.Station.Id" />
                <input type="hidden" asp-for="Bicycle.Station.Address" />
                <input type="hidden" asp-for="Bicycle.Station.lattitude" />
                <input type="hidden" asp-for="Bicycle.Station.longitude" />
                <input type="hidden" asp-for="Bicycle.Station.NumberOfBikes" />
                <input type="hidden" asp-for="Bicycle.Station.NumberOfElectricBikes" />
                <input type="hidden" asp-for="RentalStartTime" />
                <input type="hidden" asp-for="RentalEndTime" />
                <input type="hidden" asp-for="RentalPrice" />

                <h4>Your renting time ends now! </h4>


                <div class="form-group mt-3">
                    <input type="submit" value="Finish" class="btn btn-primary" />
                    <a class="btn btn-light" asp-controller="Orders" asp-action="Index">Back to Full List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
